:javascript
  $('.day-of-information-nav').addClass( 'active' );
.container.marketing
  %h1 The Big Day is Here!
  .row
    %h2 Lost? Emergency? 
    %p 
      Call Joe! (James will answer)
      .telephone
        201-638-5264
