:javascript
  $('.event_info_nav').addClass( 'active' );
.container.marketing
  %h1 Event Info
  .row
    .col-lg-6
      %h2 Ceremony:
      %img.img-circle{"alt" => "140x140", "data-src" => "holder.js/140x140", style: "width: 300px;height: 300px;", src: 'images/140.png'}
      %p
        .name Our Lady of the Visitation
        .location 123 Main St, Paramus NJ
        .date September 27th 2014 3:00 PM
    .col-lg-6
      %h2 Reception:
      %img.img-circle{"alt" => "140x140", "data-src" => "holder.js/140x140", style: "width: 300px;height: 300px;", src: 'images/140.png'}
      %p
        .name The Fiesta
        .location 123 Main St, Woodridge NJ
        .date September 27th 2014 6:00 PM

