:javascript
  $('.event-info-nav').addClass( 'active' );

.container.marketing
  %h1 Event Info
  .row
    %h2 September 27th 2014 3:00 PM
  .row
    .col-lg-4
      %h2 Ceremony
      %a{href: 'http://www.olvcommunity.org/nonflash_OLVindex.html'} 
        %img.img-circle{"alt" => "140x140", "data-src" => "holder.js/140x140", style: "width: 300px;height: 300px;", src: 'images/olv.png'}
      %p
        .name Our Lady of the Visitation
        %a{href: 'https://www.google.com/maps/preview#!data=!1m4!1m3!1d3057!2d-74.062711!3d40.9345488!4m12!2m11!1m10!1s0x0%3A0x1f277712b4eb7c60!3m8!1m3!1d3000292!2d-75.7700405!3d42.746632!3m2!1i1024!2i768!4f13.1'} 
          .location 234 N Farview Ave Paramus, NJ
    .col-lg-4
      %h2 Reception
      %a{href: 'http://www.fiestabanquets.com'} 
        %img.img-circle{"alt" => "140x140", "data-src" => "holder.js/140x140", style: "width: 300px;height: 300px;", src: "images/the_fiesta.png"}
      %p
        .name The Fiesta
        %a{href: 'https://www.google.com/maps/preview#!data=!1m4!1m3!1d2888!2d-74.0780253!3d40.8461972!4m12!2m11!1m10!1s0x0%3A0x8f68a1ddb5eb451b!3m8!1m3!1d3000292!2d-75.7700405!3d42.746632!3m2!1i1024!2i768!4f13.1'} 
          .location 255 New Jersey 17, Woodridge NJ
        .note
          %a{href: '#', data: {toggle: 'modal', target: '#direction-modal'}}
            Public transit options
    .col-lg-4
      %h2 Hotel
      %a{href: 'http://www.holidayinn.com/redirect?path=hd&brandCode=hi&localeCode=en&hotelCode=HASNJ&_PMID=99801505&GPC=LJW'} 
        %img.img-circle{"alt" => "140x140", "data-src" => "holder.js/140x140", style: "width: 300px;height: 300px;", src: "images/hotel.png"}
      %p
        .name Holiday Inn of Hasbrouck Heights
        %a{href: 'https://www.google.com/maps/place/Holiday+Inn+Hasbrouck+Heights-Meadowlands/@40.860294,-74.067421,17z/data=!3m1!4b1!4m2!3m1!1s0x0:0x4f85c30bf4ef2394'} 
          .location 283 New Jersey 17, Hasbrouck Heights NJ
        %a{href: '#', data: { toggle: 'modal', target: '#hotel_modal'}} Information


.modal.fade#direction-modal
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
        %h4.modal-title Via NJ Transit
      .modal-body
        %p The Fiesta is located very close to the Woodridge train station. It is accessible via the Pascack Valley line on NJ Transit.
        .directions
          %a{href: '#'}
            %h4 From Manhattan
          %ul
            %li Go to Penn Station. 5:11 is the latest train to get you to Woodridge before 6PM.
            %li Take any train that is listed SEC (Secaucus).
            %li Get off at Secaucus.
            %li Take the Pascack Valley line (Purple line) to Woodridge.
            %li Call a local cab and ask to be picked up, or walk 1/4 mile.
          %a{href: '#'}
            %h4 From North Jersey heading south
          %ul
            %li Go to a train on the Pascack Valley line (Hackensack, Riveredge, Oradell, Montvale, Westwood, Hillsdale).
            %li Get off at Woodridge.
            %li Call a local cab and ask to be picked up.
      .modal-footer
        %button.btn.btn-primary{"data-dismiss" => "modal", type: "button"} OK

.modal.fade#hotel_modal
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
        %h4.modal-title Hotel Information
      .modal-body
        %ul
          %li
            A shuttle is available from the hotel to the venue prior to the reception, and back for the night.
          %li
            The hotel recommend's using 474 Ottawa Avenue, Hasbrouck Heights NJ 07604 in your GPS.
          %li
            When making a reservation, use the code 'LJW' for a discount. Please reserve by 
            %strong
              July 25 2014
      .modal-footer
        %button.btn.btn-primary{"data-dismiss" => "modal", type: "button"} OK

