.container.marketing
  %h1 Event Info
  .row
    %h2 September 27th 2014 3:00 PM
  .row
    .col-lg-4
      %h2 Ceremony
      %a{href: 'http://www.olvcommunity.org/nonflash_OLVindex.html'} 
        %img.img-circle{"alt" => "140x140", "data-src" => "holder.js/140x140", style: "width: 300px;height: 300px;", src: 'images/olv.png'}
      %p
        .name Our Lady of the Visitation
        %a{href: 'https://www.google.com/maps/preview#!data=!1m4!1m3!1d3057!2d-74.062711!3d40.9345488!4m12!2m11!1m10!1s0x0%3A0x1f277712b4eb7c60!3m8!1m3!1d3000292!2d-75.7700405!3d42.746632!3m2!1i1024!2i768!4f13.1'} 
          .location 234 N Farview Ave Paramus, NJ
    .col-lg-4
      %h2 Reception
      %a{href: 'http://www.fiestabanquets.com'} 
        %img.img-circle{"alt" => "140x140", "data-src" => "holder.js/140x140", style: "width: 300px;height: 300px;", src: "images/the_fiesta.png"}
      %p
        .name The Fiesta
        %a{href: 'https://www.google.com/maps/preview#!data=!1m4!1m3!1d2888!2d-74.0780253!3d40.8461972!4m12!2m11!1m10!1s0x0%3A0x8f68a1ddb5eb451b!3m8!1m3!1d3000292!2d-75.7700405!3d42.746632!3m2!1i1024!2i768!4f13.1'} 
          .location 255 New Jersey 17, Woodridge NJ
        .note
          %a{href: '#', data: {toggle: 'modal', target: '#direction-modal'}}
            Public transit options
    .col-lg-4
      %h2 Hotel
      %a{href: 'http://www.ihg.com/holidayinn/hotels/us/en/saddle-brook/tebhi/hoteldetail'} 
        %img.img-circle{"alt" => "140x140", "data-src" => "holder.js/140x140", style: "width: 300px;height: 300px;", src: "images/hotel.png"}
      %p
        .name Holiday Inn of Saddle Brook
        %a{href: 'https://www.google.com/maps/place/129+Pehle+Ave/@40.906876,-74.097457,17z/data=!4m2!3m1!1s0x89c2fbc0561798eb:0xa847bbd9ef3acb75'} 
          .location 129 Pehle Ave, Saddle Brook NJ
        .note
          When reserving, use 'Kane/Letizia Wedding' for discount.

.modal.fade#direction-modal
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
        %h4.modal-title Via NJ Transit
      .modal-body
        %p The Fiesta is located very close to the Woodridge train station. It is accessible via the Pascack Valley line on NJ Transit.
        .directions
          %a{href: '#'}
            %h4 From Manhattan
          %ul
            %li Go to Penn Station. 5:11 is the latest train to get you to Woodridge before 6PM.
            %li Take any train that is listed SEC (Secaucus).
            %li Get off at Secaucus.
            %li Take the Pascack Valley line (Purple line) to Woodridge.
            %li Call a local cab and ask to be picked up.
          %a{href: '#'}
            %h4 From North Jersey heading south
          %ul
            %li Go to a train on the Pascack Valley line (Hackensack, Riveredge, Oradell, Montvale, Westwood, Hillsdale).
            %li Get off at Woodridge.
            %li Call a local cab and ask to be picked up.
      .modal-footer
        %button.btn.btn-primary{"data-dismiss" => "modal", type: "button"} OK

