.container

  .row
    .col-lg-4
      %h2 Event Info
      %p Dates, times, and other information about the big day can be found here. Directions are also available from locations such as North and South Jersey, Manhattan, and Newark Airport.
      %p
        %a.btn.btn-primary{href: "/event_info", role: "button"} View details »
    .col-lg-4
      %h2 Registry
      %p 
        We are currently registered at 
        %span Bed, Bath, & Beyond
        %span Macy's
        and
        %span Raymour & Flanigan's.
        We thank you in advance for you gift.
      %p
        %a.btn.btn-primary{href: "/registry", role: "button"} View details »
    .col-lg-4
      %h2 Images
      %p We've put together a small gallery of pictures from our engagement, as well as a few others since we've been together. We hope you enjoy them.
      %p
        %a.btn.btn-primary{href: "/images", role: "button"} View details »
