!!!
%html
  %head
    %title Lauren & Joe: September 27 2014
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %link{href: "/vendor/bootstrap/css/bootstrap.css", rel: "stylesheet"}/
    %link{href: "/vendor/bootstrap/css/justified-nav.css", rel: "stylesheet"}/
    /[if lt IE 9]
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  %body
    .container
      .jumbotron
        %h1.text-center
          Lauren & Joe's Wedding
        %a{href: 'http://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?pwsToken=&eventType=Wedding&registryId=13781121&pwsurl='} 
          %img.layout-img.img-circle{"alt" => "140x140", "data-src" => "holder.js/140x140", style: "width: 300px;height: 300px;", src: 'images/140.png'}
        %p.lead
          All the information on our wedding can be found here. We're excited to celebrate and share our day with you.
      %ul.nav.nav-justified.navbar-static-top#nav
        %li
          %a{href: "/"} Home
        %li.event_info_nav
          %a{href: "/event_info#nav"} Event Info
        %li.registry_nav
          %a{href: "/registry#nav"} Registry
        %li.images_nav
          %a{href: "/images#nav"} Images
        %li.contact_nav
          %a{href: "/contact#nav"} Contact
    %script{src: "/vendor/jquery-1.9.1.min.js"}
    %script{src: "/vendor/bootstrap/js/bootstrap.min.js"}
    = yield
