!!!
%html
  %head
    %title Sinatra + Twitter Bootstrap
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %link{href: "/vendor/bootstrap/css/bootstrap.css", rel: "stylesheet"}/
    %link{href: "/vendor/bootstrap/css/justified-nav.css", rel: "stylesheet"}/
    /[if lt IE 9]
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  %body
    .container
      .masthead
        %ul.nav.nav-justified
          %li
            %a{href: "/"} Home
          %li.event_info_nav
            %a{href: "/event_info"} Event Info
          %li.registry_nav
            %a{href: "/registry"} Registry
          %li.images_nav
            %a{href: "/images"} Images
          %li.contact_nav
            %a{href: "/contact"} Contact
    %script{src: "/vendor/jquery-1.9.1.min.js"}
    %script{src: "/vendor/bootstrap/js/bootstrap.min.js"}
    %div
      - if @error then
        .alert.alert-error= @error
      = yield
