.container.marketing
  %h1 Registry
  .row
    .col-lg-4
      %a{href: 'http://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?pwsToken=&eventType=Wedding&registryId=13781121&pwsurl='} 
        %img{"alt" => "140x140", "data-src" => "holder.js/140x140", style: "width: 300px;height: 300px;", src: 'images/bed_bath_beyond.png'}
        %h2
          Bed, Bath, & Beyond
    .col-lg-4
      %a{href: 'http://www.amazon.com/registry/wedding/39CRGXC3OSEWJ'} 
        %img{"alt" => "140x140", "data-src" => "holder.js/140x140", style: "width: 300px;height: 300px;", src: 'images/amazon.png'}
        %h2
          Amazon
    .col-lg-4
      %a{href: 'http://www.lowes.com/cd_Gift+Cards_1377700830319_?rpp=32'} 
        %img{"alt" => "140x140", "data-src" => "holder.js/140x140", style: "width: 300px;height: 300px;", src: 'images/lowes.png'}
        %h2
          Lowes
